---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [2]:
import pandas as pd

In [4]:
number = [1,2,3]
pd.Series(number)

0    1
1    2
2    3
dtype: int64

In [4]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [6]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [5]:
np.isnan(np.nan)

True

In [9]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [10]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [11]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [12]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [8]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [9]:
s.iloc[3]

'South Korea'

In [11]:
s.loc['Sumo']

'Japan'

In [ ]:
s[3]

In [ ]:
s['Golf']

In [6]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [ ]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

In [18]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
# s

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

In [7]:
import numpy as np

total = np.sum(s)
print(total)

BhutanScotlandJapanSouth Korea

In [8]:
a = pd.Series([100,200])
print(a)
np.sum(a)

0    100
1    200
dtype: int64

300

In [ ]:
len(s)

In [22]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

100 loops, best of 3: 12.6 Âµs per loop

In [23]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 154 Âµs per loop

In [20]:
s+=2 #adds two to each item in s using broadcasting
s.head(n = 1)

0    104.0
dtype: float64

In [9]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

TypeError: Can't convert 'int' object to str implicitly

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [11]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [12]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [13]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

In [14]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [16]:
df.loc['Store 2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [15]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [5]:
df.loc[:,['Name', 'Cost']]

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

In [ ]:
del copy_df['Name']
copy_df

In [17]:
df['Location'] = None
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris     None
Store 1   2.5   Kitty Litter  Kevyn     None
Store 2   5.0      Bird Seed  Vinod     None

# Dataframe Indexing and Loading

In [18]:
costs = df['Cost']
costs

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: float64

In [ ]:
costs+=2
costs

In [19]:
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris     None
Store 1   2.5   Kitty Litter  Kevyn     None
Store 2   5.0      Bird Seed  Vinod     None

In [8]:
!cat olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,â Summer,01 !,02 !,03 !,Total,â Winter,01 !,02 !,03 !,Total,â Games,01 !,02 !,03 !,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
AustriaÂ (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
AzerbaijanÂ (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
BahamasÂ (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
BahrainÂ (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
BarbadosÂ (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
BelarusÂ (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
BelgiumÂ (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
BermudaÂ (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
BohemiaÂ (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
BotswanaÂ (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
BrazilÂ (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West IndiesÂ (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
BulgariaÂ (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
BurundiÂ (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
CameroonÂ (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
CanadaÂ (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
ChileÂ (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
ChinaÂ (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
ColombiaÂ (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa RicaÂ (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory CoastÂ (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
CroatiaÂ (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
CubaÂ (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
CyprusÂ (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech RepublicÂ (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
CzechoslovakiaÂ (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
DenmarkÂ (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
DjiboutiÂ (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican RepublicÂ (DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
EcuadorÂ (ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
EgyptÂ (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
EritreaÂ (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
EstoniaÂ (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
EthiopiaÂ (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
FinlandÂ (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
FranceÂ (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
GabonÂ (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
GeorgiaÂ (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
GermanyÂ (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of GermanyÂ (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East GermanyÂ (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West GermanyÂ (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
GhanaÂ (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great BritainÂ (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
GreeceÂ (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
GrenadaÂ (GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
GuatemalaÂ (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
GuyanaÂ (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
HaitiÂ (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong KongÂ (HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
HungaryÂ (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
IcelandÂ (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
IndiaÂ (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
IndonesiaÂ (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
IranÂ (IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
IraqÂ (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
IrelandÂ (IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
IsraelÂ (ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
ItalyÂ (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
JamaicaÂ (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
JapanÂ (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
KazakhstanÂ (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
KenyaÂ (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North KoreaÂ (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South KoreaÂ (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
KuwaitÂ (KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
KyrgyzstanÂ (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
LatviaÂ (LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
LebanonÂ (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
LiechtensteinÂ (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
LithuaniaÂ (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
LuxembourgÂ (LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
MacedoniaÂ (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
MalaysiaÂ (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
MauritiusÂ (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
MexicoÂ (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
MoldovaÂ (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
MongoliaÂ (MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
MontenegroÂ (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
MoroccoÂ (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
MozambiqueÂ (MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
NamibiaÂ (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
NetherlandsÂ (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands AntillesÂ (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New ZealandÂ (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
NigerÂ (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
NigeriaÂ (NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
NorwayÂ (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
PakistanÂ (PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
PanamaÂ (PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
ParaguayÂ (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
PeruÂ (PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
PhilippinesÂ (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
PolandÂ (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
PortugalÂ (POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto RicoÂ (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
QatarÂ (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
RomaniaÂ (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
RussiaÂ (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian EmpireÂ (RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet UnionÂ (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified TeamÂ (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi ArabiaÂ (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
SenegalÂ (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
SerbiaÂ (SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and MontenegroÂ (SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
SingaporeÂ (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
SlovakiaÂ (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
SloveniaÂ (SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South AfricaÂ (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
SpainÂ (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri LankaÂ (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
SudanÂ (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
SurinameÂ (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
SwedenÂ (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
SwitzerlandÂ (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
SyriaÂ (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese TaipeiÂ (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
TajikistanÂ (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
TanzaniaÂ (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
ThailandÂ (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
TogoÂ (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
TongaÂ (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and TobagoÂ (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
TunisiaÂ (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
TurkeyÂ (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
UgandaÂ (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
UkraineÂ (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab EmiratesÂ (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United StatesÂ (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
UruguayÂ (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
UzbekistanÂ (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
VenezuelaÂ (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
VietnamÂ (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin IslandsÂ (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
YugoslaviaÂ (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic ParticipantsÂ (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
ZambiaÂ (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
ZimbabweÂ (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed teamÂ (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [28]:
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,â Summer,01 !,02 !,03 !,Total,â Winter,01 !,02 !,03 !,Total,â Games,01 !,02 !,03 !,Combined total
1,AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [29]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

,â Summer,01 !,02 !,03 !,Total,â Winter,01 !.1,02 !.1,03 !.1,Total.1,â Games,01 !.2,02 !.2,03 !.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [30]:
df.columns

Index(['â Summer', '01 !', '02 !', '03 !', 'Total', 'â Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', 'â Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

In [31]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

# Querying a DataFrame

In [32]:
df['Gold'] > 0

AfghanistanÂ (AFG)                               False
AlgeriaÂ (ALG)                                    True
ArgentinaÂ (ARG)                                  True
ArmeniaÂ (ARM)                                    True
AustralasiaÂ (ANZ) [ANZ]                          True
AustraliaÂ (AUS) [AUS] [Z]                        True
AustriaÂ (AUT)                                    True
AzerbaijanÂ (AZE)                                 True
BahamasÂ (BAH)                                    True
BahrainÂ (BRN)                                   False
BarbadosÂ (BAR) [BAR]                            False
BelarusÂ (BLR)                                    True
BelgiumÂ (BEL)                                    True
BermudaÂ (BER)                                   False
BohemiaÂ (BOH) [BOH] [Z]                         False
BotswanaÂ (BOT)                                  False
BrazilÂ (BRA)                                     True
British West IndiesÂ (BWI) [BWI]                 False
BulgariaÂ (BUL) [H]                               True
BurundiÂ (BDI)                                    True
CameroonÂ (CMR)                                   True
CanadaÂ (CAN)                                     True
ChileÂ (CHI) [I]                                  True
ChinaÂ (CHN) [CHN]                                True
ColombiaÂ (COL)                                   True
Costa RicaÂ (CRC)                                 True
Ivory CoastÂ (CIV) [CIV]                         False
CroatiaÂ (CRO)                                    True
CubaÂ (CUB) [Z]                                   True
CyprusÂ (CYP)                                    False
                                                ...
Sri LankaÂ (SRI) [SRI]                           False
SudanÂ (SUD)                                     False
SurinameÂ (SUR) [E]                               True
SwedenÂ (SWE) [Z]                                 True
SwitzerlandÂ (SUI)                                True
SyriaÂ (SYR)                                      True
Chinese TaipeiÂ (TPE) [TPE] [TPE2]                True
TajikistanÂ (TJK)                                False
TanzaniaÂ (TAN) [TAN]                            False
ThailandÂ (THA)                                   True
TogoÂ (TOG)                                      False
TongaÂ (TGA)                                     False
Trinidad and TobagoÂ (TRI) [TRI]                  True
TunisiaÂ (TUN)                                    True
TurkeyÂ (TUR)                                     True
UgandaÂ (UGA)                                     True
UkraineÂ (UKR)                                    True
United Arab EmiratesÂ (UAE)                       True
United StatesÂ (USA) [P] [Q] [R] [Z]              True
UruguayÂ (URU)                                    True
UzbekistanÂ (UZB)                                 True
VenezuelaÂ (VEN)                                  True
VietnamÂ (VIE)                                   False
Virgin IslandsÂ (ISV)                            False
YugoslaviaÂ (YUG) [YUG]                           True
Independent Olympic ParticipantsÂ (IOP) [IOP]    False
ZambiaÂ (ZAM) [ZAM]                              False
ZimbabweÂ (ZIM) [ZIM]                             True
Mixed teamÂ (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [33]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [34]:
only_gold['Gold'].count()

100

In [35]:
df['Gold'].count()

147

In [36]:
only_gold = only_gold.dropna()
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
AustraliaÂ (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [37]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480

In [38]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

101

In [39]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
LiechtensteinÂ (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

# Indexing Dataframes

In [40]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [41]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,AfghanistanÂ (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,AlgeriaÂ (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,ArgentinaÂ (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,ArmeniaÂ (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,AustralasiaÂ (ANZ) [ANZ]

In [42]:
df = df.reset_index()
df.head()

,Gold,# Summer,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,country
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,AfghanistanÂ (AFG)
1,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,AlgeriaÂ (ALG)
2,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,ArgentinaÂ (ARG)
3,1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,ArmeniaÂ (ARM)
4,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,AustralasiaÂ (ANZ) [ANZ]

In [43]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [44]:
df['SUMLEV'].unique()

array([40, 50])

In [45]:
df=df[df['SUMLEV'] == 50]
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [46]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [47]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [48]:
df.loc['Michigan', 'Washtenaw County']

BIRTHS2010            977
BIRTHS2011           3826
BIRTHS2012           3780
BIRTHS2013           3662
BIRTHS2014           3683
BIRTHS2015           3709
POPESTIMATE2010    345563
POPESTIMATE2011    349048
POPESTIMATE2012    351213
POPESTIMATE2013    354289
POPESTIMATE2014    357029
POPESTIMATE2015    358880
Name: (Michigan, Washtenaw County), dtype: int64

In [49]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
df = df.fillna(method='ffill')
df.head()